[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
pip = "*"
wheel = "*"
setuptools = "*"
evohomeclient = {editable = true, path = "./../evohome-client"}

[dev-packages]
black = "*"
bandit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
